<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872405128438-9fc2p8fhm9tvot1ibnt5mr9i8bkp4hjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872405128438-9fc2p8fhm9tvot1ibnt5mr9i8bkp4hjh</string>
	<key>API_KEY</key>
	<string>AIzaSyA_IgXTZD2K78FDapPwoY7PId3dqLw0HSc</string>
	<key>GCM_SENDER_ID</key>
	<string>872405128438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hunet.hunet</string>
	<key>PROJECT_ID</key>
	<string>hunet-bbe97</string>
	<key>STORAGE_BUCKET</key>
	<string>hunet-bbe97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872405128438:ios:23d20756a57abfc6b548d7</string>
</dict>
</plist>